@charset "utf-8";
.mask{
	margin:0;
	padding:0;
	border:none;
	width:100%;
	height:100%;
	background:#333;
	opacity:0.6;
	filter:alpha(opacity=60);
	z-index:9999;
	position:fixed;
	top:0;
	left:0;
	display:none;
}
#LoginBox{
	position:absolute;
	left:460px;
	top:100px;
	background:white;
	width:450px;
	height:450px;
	border:3px solid #444;
	border-radius:7px;
	z-index:10000;
	display:none;
	overflow:hidden;
}
#RegisterBox{
	position:absolute;
	left:460px;
	top:100px;
	background:white;
	width:450px;
	height:450px;
	border:3px solid #444;
	border-radius:7px;
	z-index:10000;
	display:none;
	overflow:hidden;
}
.rowTitle{
	padding:0px 20px;
	line-height:50px;
	height:50px;
	font-weight:bold;
	color:#51A3BB;
	font-size:30px;
	text-align: center;
	margin: 28px 0px;
}
.row{
	padding:0px 30px;
	font-family:黑体;
	font-size:x-large;
	overflow:hidden;
	text-align: left;
	color: #51A3BB;
	margin: 0px 0px 10px 0px;
}
.row span{
	margin-left: 5px;
}
.rowC{
	height:70px;
	line-height:60px;
	padding:0px 30px;
	font-family:华文楷体;
	font-size:x-large;
	width: 100%;
}
.close_btn{
	font-family:arial;
	font-size:30px;
	font-weight:700;
	color:#51A3BB;
	text-decoration:none;
	float:right;
	padding-right:4px;
}
.inputBox{
	border:3px solid #51A3BB;
	padding:0px 1px 2px 1px;
	border-radius:7px;
	margin:5px 5px;
	height: 34px;
}
.txt{
	height:28px;
	border:none;
	width:100%;
}
#loginbtn{
	color:White;
	background:#4490f7;
	text-decoration:none;
	border-radius:7px;
	opacity:0.8;
	margin:20px 5px 5px 5px;
	width:98%;
	filter:alpha(opacity=80);
	padding:0px 1px 2px 1px;
	height: 40px;
	font-size:16px;
	cursor:pointer;
}
#registerbtn{
	color:White;
	background:#4490f7;
	text-decoration:none;
	border-radius:7px;
	opacity:0.8;
	margin:20px 5px 5px 5px;
	width:98%;
	filter:alpha(opacity=80);
	padding:0px 1px 2px 1px;
	height: 40px;
	font-size:16px;
	cursor:pointer;
}
.warning{
	float:right;
	color:red;
	text-decoration:none;
	font-size:20px;
	font-weight:bold;
	margin-right:20px;
	display:none;
}
#registerBtn{
	margin: 3px;
}
#loginBtn{
	margin: 3px;
}

#loginHint{
	text-align:center;
	font-size: 5px;
}
#loginHint a{
	color:#62AAC0;
}
#registerHint{
	text-align:center;
	font-size: 5px;
}
#registerHint a{
	color:#62AAC0;
}